---
import Layout from "../layouts/MainLayout.astro";
import HomeMain from "../components/HomeMain";
---

<Layout title="The Freeness - Free to play games.">
  <main>
    <HomeMain client:load />
  </main>
</Layout>
