---
import MainLayout from "../layouts/MainLayout.astro";
import HomeMain from "../components/HomeMain";
---

<MainLayout title='The Freeness - Free to play games.'>
  <main>
    <HomeMain client:load />
  </main>
</MainLayout>
