---
import { getTheSlug } from "../utils/GameData.js";
const gameIds = [
  { id: 521 },
  { id: 517 },
  { id: 516 },
  { id: 508 },
  { id: 345 },
  { id: 427 },
  { id: 525 },
  { id: 475 },
  { id: 523 },
  { id: 340 },
  { id: 445 },
  { id: 347 },
  { id: 11 },
  { id: 380 },
  { id: 515 },
  { id: 458 },
  { id: 455 },
  { id: 522 },
  { id: 511 },
  { id: 5 },
  { id: 9 },
  { id: 12 },
  { id: 2 },
  { id: 529 },
  { id: 528 },
  { id: 466 },
  { id: 467 },
  { id: 452 },
  { id: 21 },
  { id: 1 },
  { id: 23 },
  { id: 57 },
  { id: 449 },
  { id: 6 },
  { id: 212 },
  { id: 8 },
  { id: 202 },
  { id: 207 },
  { id: 217 },
  { id: 3 },
  { id: 243 },
  { id: 13 },
  { id: 14 },
  { id: 433 },
  { id: 536 },
  { id: 537 },
  { id: 527 },
  { id: 530 },
  { id: 531 },
  { id: 533 },
  { id: 534 },
  { id: 524 },
  { id: 526 },
  { id: 532 },
  { id: 520 },
  { id: 519 },
  { id: 518 },
  { id: 513 },
  { id: 512 },
  { id: 509 },
  { id: 510 },
  { id: 502 },
  { id: 507 },
  { id: 500 },
  { id: 497 },
  { id: 498 },
  { id: 499 },
  { id: 476 },
  { id: 477 },
  { id: 479 },
  { id: 473 },
  { id: 474 },
  { id: 471 },
  { id: 469 },
  { id: 472 },
  { id: 461 },
  { id: 463 },
  { id: 459 },
  { id: 39 },
  { id: 441 },
  { id: 4 },
  { id: 535 },
  { id: 436 },
  { id: 443 },
  { id: 501 },
  { id: 435 },
  { id: 437 },
  { id: 439 },
  { id: 440 },
  { id: 468 },
  { id: 505 },
  { id: 446 },
  { id: 451 },
  { id: 447 },
  { id: 19 },
  { id: 20 },
  { id: 456 },
  { id: 353 },
  { id: 438 },
  { id: 448 },
  { id: 457 },
  { id: 91 },
  { id: 503 },
  { id: 538 },
  { id: 299 },
  { id: 68 },
  { id: 28 },
  { id: 29 },
  { id: 450 },
  { id: 454 },
  { id: 341 },
  { id: 282 },
  { id: 31 },
  { id: 36 },
  { id: 460 },
  { id: 506 },
  { id: 434 },
  { id: 42 },
  { id: 43 },
  { id: 44 },
  { id: 47 },
  { id: 48 },
  { id: 49 },
  { id: 316 },
  { id: 342 },
  { id: 22 },
  { id: 51 },
  { id: 52 },
  { id: 322 },
  { id: 120 },
  { id: 58 },
  { id: 59 },
  { id: 30 },
  { id: 354 },
  { id: 61 },
  { id: 64 },
  { id: 63 },
  { id: 65 },
  { id: 55 },
  { id: 66 },
  { id: 67 },
  { id: 37 },
  { id: 70 },
  { id: 71 },
  { id: 72 },
  { id: 355 },
  { id: 358 },
  { id: 77 },
  { id: 87 },
  { id: 421 },
  { id: 69 },
  { id: 82 },
  { id: 83 },
  { id: 343 },
  { id: 85 },
  { id: 92 },
  { id: 88 },
  { id: 89 },
  { id: 93 },
  { id: 94 },
  { id: 95 },
  { id: 99 },
  { id: 344 },
  { id: 102 },
  { id: 106 },
  { id: 365 },
  { id: 62 },
  { id: 108 },
  { id: 109 },
  { id: 110 },
  { id: 367 },
  { id: 112 },
  { id: 116 },
  { id: 118 },
  { id: 119 },
  { id: 370 },
  { id: 371 },
  { id: 117 },
  { id: 124 },
  { id: 304 },
  { id: 125 },
  { id: 128 },
  { id: 374 },
  { id: 134 },
  { id: 136 },
  { id: 137 },
  { id: 139 },
  { id: 222 },
  { id: 7 },
  { id: 149 },
  { id: 346 },
  { id: 97 },
  { id: 121 },
  { id: 383 },
  { id: 384 },
  { id: 152 },
  { id: 154 },
  { id: 157 },
  { id: 386 },
  { id: 159 },
  { id: 161 },
  { id: 163 },
  { id: 104 },
  { id: 388 },
  { id: 167 },
  { id: 168 },
  { id: 169 },
  { id: 357 },
  { id: 391 },
  { id: 173 },
  { id: 175 },
  { id: 177 },
  { id: 56 },
  { id: 373 },
  { id: 394 },
  { id: 179 },
  { id: 180 },
  { id: 181 },
  { id: 399 },
  { id: 182 },
  { id: 184 },
  { id: 185 },
  { id: 186 },
  { id: 187 },
  { id: 188 },
  { id: 189 },
  { id: 10 },
  { id: 404 },
  { id: 192 },
  { id: 193 },
  { id: 195 },
  { id: 196 },
  { id: 198 },
  { id: 199 },
  { id: 200 },
  { id: 348 },
  { id: 203 },
  { id: 204 },
  { id: 209 },
  { id: 210 },
  { id: 211 },
  { id: 213 },
  { id: 214 },
  { id: 215 },
  { id: 405 },
  { id: 409 },
  { id: 239 },
  { id: 220 },
  { id: 221 },
  { id: 376 },
  { id: 206 },
  { id: 424 },
  { id: 224 },
  { id: 225 },
  { id: 226 },
  { id: 411 },
  { id: 412 },
  { id: 229 },
  { id: 230 },
  { id: 231 },
  { id: 233 },
  { id: 234 },
  { id: 235 },
  { id: 414 },
  { id: 240 },
  { id: 232 },
  { id: 241 },
  { id: 242 },
  { id: 415 },
  { id: 244 },
  { id: 349 },
  { id: 416 },
  { id: 246 },
  { id: 417 },
  { id: 418 },
  { id: 248 },
  { id: 24 },
  { id: 453 },
  { id: 249 },
  { id: 256 },
  { id: 422 },
  { id: 255 },
  { id: 257 },
  { id: 292 },
  { id: 261 },
  { id: 262 },
  { id: 264 },
  { id: 350 },
  { id: 267 },
  { id: 269 },
  { id: 423 },
  { id: 271 },
  { id: 60 },
  { id: 272 },
  { id: 205 },
  { id: 260 },
  { id: 273 },
  { id: 274 },
  { id: 275 },
  { id: 276 },
  { id: 277 },
  { id: 258 },
  { id: 278 },
  { id: 281 },
  { id: 425 },
  { id: 286 },
  { id: 287 },
  { id: 288 },
  { id: 402 },
  { id: 280 },
  { id: 290 },
  { id: 291 },
  { id: 254 },
  { id: 293 },
  { id: 295 },
  { id: 306 },
  { id: 426 },
  { id: 297 },
  { id: 298 },
  { id: 319 },
  { id: 300 },
  { id: 301 },
  { id: 428 },
  { id: 303 },
  { id: 305 },
  { id: 307 },
  { id: 308 },
  { id: 309 },
  { id: 310 },
  { id: 311 },
  { id: 312 },
  { id: 265 },
  { id: 15 },
  { id: 313 },
  { id: 337 },
  { id: 314 },
  { id: 16 },
  { id: 315 },
  { id: 333 },
  { id: 317 },
  { id: 351 },
  { id: 429 },
  { id: 320 },
  { id: 321 },
  { id: 430 },
  { id: 323 },
  { id: 324 },
  { id: 431 },
  { id: 325 },
  { id: 326 },
  { id: 327 },
  { id: 328 },
  { id: 352 },
  { id: 190 },
  { id: 329 },
  { id: 330 },
  { id: 332 },
  { id: 334 },
  { id: 18 },
  { id: 335 },
  { id: 17 },
  { id: 432 },
  { id: 336 },
  { id: 251 },
  { id: 339 },
];
const count = gameIds.length;

// export async function getStaticPaths() {
const fetchUrl = "https://free-to-play-games-database.p.rapidapi.com/api/games";
const fetchGame =
  "https://free-to-play-games-database.p.rapidapi.com/api/game?id=";
const options = {
  method: "GET",
  headers: {
    "X-RapidAPI-Key": import.meta.env.PUBLIC_API_KEY,
    "X-RapidAPI-Host": "free-to-play-games-database.p.rapidapi.com",
  },
};
const allResponse = await fetch(
  `https://free-to-play-games-database.p.rapidapi.com/api/game?id=${gameIds[50].id}`,
  options
);
const game = await allResponse.json();
const slug = getTheSlug(game.title);
console.log(game);
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Temp</title>
  </head>
  <body>
    <h1>Ids</h1>
    <p>{slug}</p>
    <p>{game.id}</p>
  </body>
</html>
