---
import { getTheSlug, returnIds, allTheDatas } from "../utils/GameData.js";

const gameIds = returnIds();
const gameData = allTheDatas();

const fetchUrl = "https://free-to-play-games-database.p.rapidapi.com/api/games";
const fetchGame =
  "https://free-to-play-games-database.p.rapidapi.com/api/game?id=";
const options = {
  method: "GET",
  headers: {
    "X-RapidAPI-Key": import.meta.env.PUBLIC_API_KEY,
    "X-RapidAPI-Host": "free-to-play-games-database.p.rapidapi.com",
  },
};

// console.log(gameIds.length, gameData.length);

async function loopFetch(loop = 15) {
  let cur = 350;
  for (let i = cur; i < cur + loop; i++) {
    const allResponse = await fetch(
      `https://free-to-play-games-database.p.rapidapi.com/api/game?id=${gameIds[i].id}`,
      options
    );
    const game = await allResponse.json();
    console.log(game);
  }
}
// loopFetch();
async function singleFetch() {
  const allResponse = await fetch(
    `https://free-to-play-games-database.p.rapidapi.com/api/game?id=${gameIds[364].id}`,
    options
  );
  const game = await allResponse.json();
  console.log(game);
}
// singleFetch();
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Temp</title>
  </head>
  <body>
    <h1>Ids</h1>
  </body>
</html>
