<footer class='footer'>
  <div class='free2game-attribution'>
    <a href='https://www.freetogame.com/' target='_blank'>
      <img
        src='https://www.freetogame.com/assets/images/logo-footer.png'
        alt='Data Powered by Free2Game'
      />
    </a>
  </div>
  <p class='copy'>2022 Darryl Chang-Heathcote</p>
</footer>
